<div class="center jumbotron">
  <h1>Welcome to Pet or Pass</h1>

  <h2>
    Swipe through pictures of your favourite dogs!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
