<head>
<title>Privacy Policy</title>
<script>

  function checkForm(form)
  {
    ...
    if(!form.terms.checked) {
      alert("Please indicate that you accept the Privacy Policy");
      form.terms.focus();
      return false;
    }
    return true;
  }

</script>
</head>

<body onload="disableSubmit()">
  <div class="background-box">  
    <div class="container">
      <h3>Privacy Policy</h3>
      <p>Emission Revision is a web application built solely with the purpose of Education only. Although this project
       is for educational use only, we set forth these terms in order to limit our liability and set some rules about our application.
        Although it is only an educational project, it is highly accommodating and mindful to properly address or notify any prospective users on the rules or dangers of using our site, even for educational purposes.
      </p>
      <p><strong> By accepting these terms, you acknowledge that you have read, understood, and agreed to be bound by the terms of this Privacy
       Policy and Terms of Service. If you do not agree with these terms, please close this page and do not access or use Emission Revision.</strong>
      </p>
      <p> We respect your privacy and are commited to protect your personal information that you have submitted in our web application. Please read 
       the following Privacy Policy in order to understand how we use, collect, and share your personal information.</p>
      <p> 
      <ol>
        <li><strong>Terms of Service-</strong> By using our website and registering for an account, you agree to our Terms of Service.</li>
        <li><strong>Update to Policies-</strong> We reserve the right to update the Terms of Service and Privacy Policy. We will notify users
            of any changes through email and in order to continue using our application, you must agree to these new or modified terms and policies.</li>
        <li><strong>Collected Information-</strong> In order to make an account, we need to collect your email, password, and username. We will not ask you for 
            credit card information or transaction base information since we are not a commerce application. In addition, we do not collect addresses.</li>
        <li><strong>Release of Personal Information-</strong> We will not sell or share your personal data with anyone except when required by law. We reserve the 
            right to release your personal information as required by law and if we believe that it is necessary in order to comply with legal processes such as court orders.</li>
        <li><strong>Security of Personal Information-</strong> As this is an educational project, we will not guarantee the safety of your data. We are not responsible and not liable
            for any data breaches that may happen. In the case of a data breach, we will notify all affected users at the utmost urgency. Although, the password is encrypted, 
            we cannot provide full assurance and insurance that the security of your personal information is 100% safe from attacks. Use at your own risk. 
            Never share your passwords and remember to make a strong password.</li>
        <li><strong>Use of Personal Information-</strong> The only usage of your personal information is our sending of emails to you. Usually, we will not spam or send a lot of emails.
            We sent emails out only to notify you of changes to Terms of Services or Privacy Policy. </li>
        <li><strong>Visibility of Information-</strong> Keep in mind, other users can search for your username and see your fuel logs and cars. This is intended and part of our 
            socializing web application. If you are not in full agreement of this, please terminate the usage of the Emission Revision application.</li>
      </ol>
      <form class="mini-spacer" method="GET" action="/signup" onsubmit="return checkForm(this);">
        <h4><input type="checkbox" required name="accept" class="checkbox-submit"> I accept the <u>Privacy Policy</u></h4>
        <h4><input type="submit" value="Continue" class="checkbox-submit"></h4>
      </form>
    </div>
  </div>
</body>
