<title>Terms of Service</title>
<body>
  <div class="container">
    <h3>Terms of Service</h3>
    <p>Emission Revision is a web application built solely with the purpose of Education only. Although this project
     is for educational use only, we set forth these terms in order to limit our liability and set some rules about our application.
    </p>
    <p><strong> By accepting these terms and conditions, you acknowledge that you have read, understood, and agreed to be bound by the
     following terms and conditions in the Terms of Service.</strong>
    </p>
    <ol>
      <li><strong>Privacy Policy-</strong> By using our website and registering for an account, you agree to our Privacy Policy.</li>
      <li><strong>Update to Policies-</strong> We reserve the right to update the Terms of Service and Privacy Policy. We will notify users
          of any changes through email and in order to continue using our application, you must agree to these new or modified terms and policies.</li>
      <li><strong>Educational Use-</strong> This application was created for a project at Simon Fraser University and is intended only for educational use.</li>
      <li><strong>Third Party Sites-</strong> Links that lead to external sites and meant only for references and additional information. Emission Revision does not
          control or endorse any of these links. In addition, Emission Revision will not be responsible or liable for any malicious or fraudulent damage due to external links.
          Emission Revision denies any responsibility for anything that may show up on external links.</li>
      <li><strong>Carbon Emissions Calculations-</strong> Our calculations for carbon emissions are done with statistical data and averages from external sources and may not be
          accurate. These calculations are not to be compared to real scientific calculations which are more specific with the actual configurations of cars. </li>
      <li><strong>User Comments on Forums-</strong> We are not liable nor do we endorse any comments from any users on the forums. If any user posts any inappropriate content that is 
          illegal, fraudulent, malicious, or any other damaging material, we reserve the right to instantly remove the content, along with termination of the users service with Emission Revision.</li>
      <li><strong>Termination-</strong> Emission Revision retains the right to discontinue the service at any time, with or without notice. Following the termination of services, we
          reserve the right to delete all of the user's data.</li>
      <li><strong>Limitations of Liability-</strong> You must fully understand and agree that Emission Revision is not liable for anything. Use the service at your own risk. We are not responsible for
          any damages in using our application and you will not be compensated. </li>
      <li><strong>Support-</strong>Should you have any questions, comments, or concerns regarding these Terms of Service, you may contact us in the about page.</li>
        
    <ol/>
  </div>
</body>