@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* buttons and navigation */
.btn-primary{
  background-color: lightgreen !important;
  border-color:black !important;
  color:black !important;
}
.btn-primary:hover{
  background-color: green !important;
  border-color:black !important;
  color:white !important;
}
.nav-entry{
  font-weight: bold !important;
  color:white !important;
}

.nav-entry:hover{
  font-weight: bold !important;
  color:black !important;
}

.nav-item:hover{
  border-radius: 24px;
  background-color: white !important;
}

/* spacer */
.spacer{
  margin-top:60px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

