// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.text-link:hover{
  color:rgb(63, 196, 11);
  background-color: rgba(0,0,0,0);
  text-decoration: unset;
}